<!DOCTYPE html>
<html xmlns:th = "www.thymeleaf.org">
<body>

	<form action="#" th:action="@{/insertNewDoctor}" th:object="${doctor}" method="post">
	<input type = "text" th:field="*{officeNum}" placeholder = "office number"  /> <br>
	<input type = "text" th:field="*{name}" placeholder = "name"  /> <br>
	<input type = "text" th:field="*{surname}" placeholder = "surname"  /> <br>
	<input type = "text" th:field="*{username}" placeholder = "username"  /> <br>
	<input type = "password" th:field="*{password}" placeholder = "password"  /> <br>

	<input type = "submit" value = "Add doctor" />
	</form>
	
	
</body>
</html>